:root {
    --background-color: #f1f1f1;
    --ball-color: #ff0000;
    --ball-size: 80px;
  }

body {
  background-color: var(--background-color);
}

.ball {
    height: var(--ball-size);
  background-color: var(--ball-color);
  width: var(--ball-size);

}
